h1{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
body{
    /* background-image: url(../css/images/rose.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    /* height: auto; */
    background-color: cyan;
    
}