{% extends 'pictures/base.html' %}

{% block content %}
{{ block.super}}
<div class="container">

    <div class="row">
        {% for photo in photos %}
        <div class="col-sm-3 col-md-3">
            <img src="{{photo.image.url}}" class="img-responsive p-3" alt="Image" style="width: 290px; height: 230px;">
            <h5 class="pl-3" style="font-weight: bolder;">{{photo.name}}</h5>
            <h4 class="pl-3">Category:<strong>{{photo.category}}</strong></h4>
            <!-- <p style="font-weight: bolder;" class="pl-3">{{photo.description}}</p> -->
            <h4 class="pl-3" style="font-weight: bolder;">{{photo.location}}</h4>

        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}