{%extends 'pictures/base.html'%}
{% block content %}
<div class="container">

    <div class="row">
        {% if photos%}
        <h2 style="font-weight: bolder;">Found {{ photos|length }} of searched term {{message}}</h2>
        {% else %}
        <h2 style="font-weight: bolder;"> Found 0 photos for the search term {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if photos %}
        {% for photo in photos %}
        <div class="col-sm-6 col-md-3">
            <img src="{{photo.image.url}}" class="img-responsive" alt="Image"
                style="width: 290px; height: 230px; padding: 15px;">
            <h4 class="text-center" style="font-weight: bolder;">{{photo.name}}</h4>
        </div>

        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}